<div class="w-full">
  <% @articles.each do |article|%>
    <%= link_to article_path(article.id), class:"my-4 p-4 block" do %>
      <h2>
        <%= article.title%>
      </h2>
      <span class="text-sm text-gray-300 md:text-base">
        <%= article.created_at.in_time_zone("Asia/Taipei").strftime("%Y-%m-%d")%>
      </span>
    <% end %>
  <% end %>
</div>