<div >
  <div class="sticky left-0 top-5">
    <h1>
      <%= link_to "DOJO004", root_path%>
    </h1>
    <ul>
      <li>Dashool 創辦人</li>
      <li>喜歡調酒</li>
      <li>Rails、Nextjs、TypeScript</li>
    </ul>
    <div class="mt-4">
      <%= link_to "https://github.com/DOJO004", target: "_blank", class:"w-fit block" do%>
        <%= image_tag "github.png", class:"w-8 md:w-10 lg:w-12 xl:w-16"%>
      <% end %>
    </div>
  </div>
</div>